#varjo1 {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
}

h1 {
    text-shadow: 2px 2px #ff0000;
    background-image: url("vareja.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


h2 {
  text-shadow: 3px 3px;
}

a:link {
transition: all 1s linear;
color: hsl(36,50%,50%);
}

a:hover {
color: hsl(36,100%,50%);
}

@media screen and (max-width: 800px) 
  {
  body {
    background-color: black;
    color: white;
  }
}
