header {
  background-color: #E7B4AA;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black;
  
nav {
    border-bottom: 3px solid black;
}
  
  .Linkit ol {
    list-style-type: none;
    padding-left: 0;
}

.sivut {
    display: inline-block;
}

.sivut a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}
