body {
width: 90%;
margin-left: auto;
margin-right: auto;
}  

header {
  background-color: #E7B4AA;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black;
  
nav {
    background-color: #AAD9E7;
}
  

.sivut   {
    color: black;
    font-weight: bold;
    padding: 0 3px;
    }

  section {
    background-color: #E7D5AA;
    }
