body {
width: 90%;
margin-left: auto;
margin-right: auto;
}  

header {
  background-color: #E7B4AA;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black;
  
.Linkit {
  background-color: #AAD9E7;
  }

.Linkit a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }

.sivut   {
    color: black;
    font-weight: bold;
    padding: 0 3px;
    }

  section {
    background-color: #E7D5AA;
    }
