      body {
        background-color: Orange;
        color: black;
        }

      h1 {
        border-style: dotted;
        border-width: 2px;
        border-color: black;
        width: 100px;
        height: 100px;
        }
