      body {
        background-color: Orange;
        color: black;
        }

      .otsikko {
        border-style: dotted;
        border-width: 2px;
        border-color: black;
        width: 100px;
        height: 100px;
        }

      p {
       color: black;
       }

     p span {
       border-style: solid;
       border: 2px solid red;
       border-radius: 5px;
       background-color: blue;
       }

      .kuvia{
      float:left;
      }
